body {
    margin: 0px;
}

.flex {
    display: flex;
}

.header {
    justify-content: center;
    align-items: center;

    height: 223px;

    background-color: #DEDAC0;

    font-size: 25px;
}

.nav-header {
    justify-content: center;
    background-color: #CEC3B2;
}

.item-nav-header {
    justify-content: center;
    align-items: center;

    width: 225px;
    height: 42px; 
                   
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.inh1, .inh3 {
    border-inline: 2.5px #21211D solid;  
}